@charset "utf-8";

@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/base/_all.sass";
@import "bulma/sass/elements/button.sass";
@import "bulma/sass/elements/box.sass";
@import "bulma/sass/elements/container.sass";
@import "bulma/sass/elements/form.sass";
@import "bulma/sass/elements/icon.sass";
@import "bulma/sass/elements/title.sass";
@import "bulma/sass/layout/section.sass";

@font-face {
  font-family: Hack;
  src: url('/assets/fonts/Hack-Regular.ttf') format('ttf');
}

.main {
  padding: 1.5rem;
}
