@charset "utf-8";

@import "../../node_modules/bulma/sass/utilities/initial-variables";

@import "../../node_modules/bulma/bulma";

@font-face {
  font-family: Hack;
  src: url('/assets/fonts/Hack-Regular.ttf') format('ttf');
}

.main {
  padding: 1.5rem;
}
